%br
%br
%h3 Upload an colored image to convert an black & white imagem
%br
%p= @message
%br
%form{:action=>"/converted",:method=>"post",:enctype=>"multipart/form-data"}
  %input{:id=>"image", :type=>"file",:name=>"file", :onchange=>"check_extension(this.value,'convert')"}
  %input{:id=> "convert", :type=>"submit",:value=>"Convert"}
